.App {
	font-family: Arial, Helvetica, sans-serif;
}

.pagination {
	display: flex;
	padding: 4px 6px;
	gap: 20px;
	justify-content: center;
}

.pagination > button {
	height: 100%;
	padding: 4px 6px;
	background-color: rgb(18, 211, 211);
	color: aliceblue;
	border: 0px;
	border-radius: 5%;
}

.pagination > button:hover {
	color: rgb(18, 211, 211);
	background-color: aliceblue;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
